node_modules/*
node_modules/
.env
*env
yarn.lock
.vscode
package-lock.json
executionClients/liquidator/activePositions.json
executionClients/liquidator/hardhat/node_modules/
executionClients/liquidator/hardhat/node_modules/*
executionClients/liquidator/hardhat/package-lock.json

# Cloud Configuration
notes.txt
