.leaderboard {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .order-books-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .trade-history-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  